
body {
    background-color: #29274C;
}

.grid {
    margin: 0 auto;
    padding: 10px 50px 50px 50px;
    border: 2px solid #d295bf;
    background-color: #d2cacd;
    width: 600px;
    height: 400px;
    border-radius: 8px;
}

.grid h1 {
    text-align: center;
    background-color: #012A36;
    padding: 10px 20px;
    color: snow;
    font-family: sans-serif;
    border-radius: 5px;
}

.grid #question {
    font-size: 30px;
    text-align: left;
    font-family: monospace;
}

.buttons {
    margin-top: 30px;
}

#btn0,#btn1,#btn2,#btn3 {
    border: 1px solid crimson;
    border-radius: 5px;
    text-align: center;
    padding: 10px 10px;
    margin: 10px 40px 10px 0px;
    width: 250px;
    font-size: 20px;
    background-color: #7e52a0;
    color: aliceblue;
}

#btn0:hover,#btn1:hover,#btn2:hover,#btn3:hover {
    cursor: pointer;
    background-color: aliceblue;
    color:#7e52a0;
}

#btn0:focus,#btn1:focus,#btn2:focus,#btn3:focus {
    outline: 0;
}

#progress {
    color: #2b2b2b;
    font-size: 18px;
}